<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Bus Shuttle Services</ion-title>
    <ion-buttons slot="start" [hidden]='comingFromTabs()'>
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="openMenu()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="end" contentId="content" menuId="bus-filter-menu" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Filter</ion-title>
      <ion-buttons slot="end">
        <ion-button shape="round" (click)="closeMenu()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            Locations
          </ion-label>
          <ion-buttons slot="end">
            <ion-button class="swap-button" color="primary" shape="round" (click)="swapLocations()">
              <ion-icon name="repeat"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item-divider>
        <ion-item>
          <ion-label>From</ion-label>
          <ion-select interface="popover" [(ngModel)]="filterObject.fromLocation" (ngModelChange)="onFilter()">
            <ion-select-option value="">
              Any
            </ion-select-option>
            <ion-select-option *ngFor="let location of locations" [value]="location.location_name">
              {{ location.location_nice_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>To</ion-label>
          <ion-select interface="popover" [(ngModel)]="filterObject.toLocation" (ngModelChange)="onFilter()">
            <ion-select-option value="">
              Any
            </ion-select-option>
            <ion-select-option *ngFor="let location of locations" [value]="location.location_name">
              {{ location.location_nice_name }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            Others
          </ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Day</ion-label>
          <ion-select interface="popover" [(ngModel)]="filterObject.tripDay" (ngModelChange)="onFilter()">
            <ion-select-option value="sat">Saturday</ion-select-option>
            <ion-select-option value="sun">Sunday</ion-select-option>
            <ion-select-option value="mon-fri">Mon-Fri</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Show</ion-label>
          <ion-select interface="popover" [(ngModel)]="filterObject.show" (ngModelChange)="onFilter()">
            <ion-select-option value="all">All Trips</ion-select-option>
            <ion-select-option value="upcoming">Upcoming Trips Only</ion-select-option>
          </ion-select>
        </ion-item>
        <div class="ion-padding">
          <ion-button fill="outline" color="danger" expand="block" (click)="clearFilter()">
            Clear Filters
            <ion-icon slot="end" name="trash"></ion-icon>
          </ion-button>
        </div>
      </ion-item-group>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="content" class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <div class="glob-container">
    <div *ngIf="filteredTrip$ | async as trips; else loadingTrips" class="ion-no-padding">
      <ion-grid>
        <ion-row *ngIf="numberOfTrips !== 0; else noTrips;">
          <ion-col size="12" size-lg="6" offset-lg="3">
            <h6>
              Effective from: <span class="glob-text-bold">{{latestUpdate}}</span>
            </h6>
            <h6 style="padding-bottom: 5px;">
              <ion-text color="danger" class="glob-text-bold">Note:</ion-text> All times in this page are displayed in Malaysian Timezone
            </h6>
            <div *ngFor="let trip of trips | keyvalue">
              <ion-card class="ion-no-margin ion-margin-bottom">
                <ion-card-header [ngStyle]="{
                    background:
                      'linear-gradient(35deg, ' +
                      getLocationColor(trip.key) + ' 0%' +
                      ',' +
                      '#E7E9BB' + ' 90%' +
                      ',' +
                      getLocationColor(trip.key) + ' 100%' +
                      ')'
                  }">
                  <ion-card-title class="ion-float-start">
                    <h3>
                      <ion-text color="light">
                        {{ getLocationDisplayNameAndType(trip.key).split('&&')[0] | uppercase }} <small
                          *ngIf="trip.key === 'mosque'">(Friday Only)</small>
                      </ion-text>
                    </h3>
                  </ion-card-title>
                  <div class="glob-clearfix"></div>
                </ion-card-header>
                <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
                  <ion-list class="ion-no-padding">
                    <ion-item lines="none" *ngFor="let destination of trip.value | keyvalue">
                      <ion-label>
                        <h2 class="glob-text-bold">
                          {{ getLocationDisplayNameAndType(trip.key).split('&&')[0] | uppercase }} ->
                          {{ destination.key | uppercase }}
                          <small *ngIf="destination.key === 'mosque'">(Friday Only)</small>
                        </h2>
                        <ion-grid class="ion-no-padding">
                          <ion-row>
                            <ion-col [class.passed]="tripData.trip_time | checkPassedTime"
                              class="ion-text-center primary-color" *ngFor="let tripData of destination.value" size="4"
                              size-md="4">
                              {{tripData.trip_time.slice(0, -8)}}
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-label>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ng-template #noTrips>
        <ion-row>
          <ion-col>
            <app-message-with-svg messageTitle="No {{filterObject.show === 'upcoming' ? 'Upcoming': ''}} Trips To Show!"
              messageContent="{{filterObject.show === 'upcoming' ? 'Bus trips has finished for today. Try showing all the trips by changing the show filter to all trips instead of upcoming only.': 'No trips schedule has been added for today!'}}"
              imageUrl="assets/img/empty.svg" wrapperOffset="4" wrapperSize="4" wrapperMarginTop="50px">
            </app-message-with-svg>
          </ion-col>
        </ion-row>
      </ng-template>
    </div>
  </div>

  <ng-template #loadingTrips>
    <ion-grid>
      <ion-row>
        <ion-skeleton-text animated style="width: 48%; line-height: 35px"></ion-skeleton-text>
      </ion-row>
    </ion-grid>
    <div>
      <div *ngFor="let s of skeletonSettings.numberOfSkeltons">
        <ion-card class="ion-no-margin ion-margin-bottom">
          <ion-card-header>
            <ion-card-title>
              <ion-skeleton-text animated style="width: 100%; line-height: 35px"></ion-skeleton-text>
            </ion-card-title>
            <div class="glob-clearfix"></div>
          </ion-card-header>
          <ion-card-content class="ion-no-padding ion-padding-bottom ion-padding-start ion-padding-end">
            <ion-list class="ion-no-padding">
              <ion-item lines="none" *ngFor="let destination of skeletonSettings.numberOfLocationsPerSource">
                <ion-label>
                  <ion-skeleton-text animated style="width: 45%; line-height: 25px"></ion-skeleton-text>
                  <ion-grid class="ion-no-padding">
                    <ion-row>
                      <ion-col *ngFor="let time of skeletonSettings.numberOfTimesPerTrip" size="3" size-md="4"
                        class="ion-text-center">
                        <ion-skeleton-text animated style="width: 100%; line-height: 21px"></ion-skeleton-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

  </ng-template>
</ion-content>