.search-message {
    text-align: center;
    opacity: 0.2;
}

.list-txt-color {
    color: var(--ion-color-tertiary)
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}