.dot {
  height: 8px;
  width: 8px;
  background-color: var(--ion-color-primary);
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
  position: absolute;
  top: 20px;
  right: 14px;
}

.unread {
  color: var(--ion-color-primary) !important;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-txt-color {
  color: var(--ion-color-tertiary)
}