<ion-header>
  <ion-toolbar mode="md">
    <ion-title>News Feed</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <!-- Notice Board SECTION -->
  <div class="glob-container">
    <ion-grid class="ion-no-padding slider-container"
      *ngIf="noticeBoardItems$ | async as noticeBoardItems; else loadingSlideshow">
      <ion-row *ngIf="noticeBoardItems.length > 0; else noSlides">
        <ion-col class="ion-no-padding" size="12">
          <ion-slides #slides pager="true" [options]="noticeBoardSliderOpts">
            <ion-slide *ngFor="let noticeBoardItem of noticeBoardItems">
              <ion-card class="ion-no-margin">
                <ion-card-content class="ion-no-padding">
                  <div class="slider-image">
                    <a href="{{ noticeBoardItem['post-meta-fields']['slideshow_url'] && noticeBoardItem['post-meta-fields']['slideshow_url'][0] ? noticeBoardItem['post-meta-fields']['slideshow_url'][0] : noticeBoardItem.link }}"
                      target="_blank">
                      <ion-img src="{{noticeBoardItem.featured_media_source[0].source_url}}" alt=""></ion-img>
                    </a>
                  </div>
                </ion-card-content>
                <div class="swiper-button-next">
                  <ion-icon name="chevron-forward-outline" size="large" tappable (click)="nextSlide()">
                  </ion-icon>
                </div>
                <div class="swiper-button-prev">
                  <ion-icon name="chevron-back-outline" size="large" tappable (click)="prevSlide()">
                  </ion-icon>
                </div>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </ion-col>
      </ion-row>
      <ng-template #noSlides>
        <app-message-with-svg messageTitle="No Images Added to The Board!"
          messageContent="There are no notices to show." imageUrl="assets/img/empty.svg" wrapperOffset="3"
          wrapperSize="6">
        </app-message-with-svg>
      </ng-template>
    </ion-grid>
    <ng-template #loadingSlideshow>
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-list style="margin-top: 2px;">
              <div class="news-wrapper">
                <ion-skeleton-text style="width: 100%; line-height: 200px;" animated></ion-skeleton-text>
              </div>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <!-- News Card SECTION -->
    <ion-grid>
      <ion-text color="primary">
        <h2 class="news-header" class="glob-text-bold ion-text-center">News</h2>
      </ion-text>
      <ion-row>
        <ng-template let-news [ngIf]="news$ | async" [ngIfElse]="loadingNews">
          <ng-template [ngIf]="news && news.length > 0" [ngIfElse]="nonews">
            <ion-col size="12" size-sm="6" size-lg="4" size-xl="4" *ngFor="let newsItem of news">
              <ion-card class="ion-no-margin" tappable (click)="openModal(newsItem)">
                <ion-img [src]="newsItem.url"></ion-img>
                <div class="text-overlay">
                  <ion-label>
                    <h2>{{ newsItem.title }}</h2>
                    <p>{{ newsItem.updated | dateWithTimezone : 'MMM d, y, h:mm a'}}</p>
                  </ion-label>
                </div>
              </ion-card>
            </ion-col>
          </ng-template>
          <!-- No News -->
          <ng-template #nonews>
            <ion-col size="12" size-sm="6" size-lg="4" size-xl="4">
              <ion-card class="ion-no-margin">
                <ion-card-content>
                  <ion-title>No News Available</ion-title>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ng-template>
        </ng-template>
        <!-- Loading News -->
        <ng-template #loadingNews>
          <ion-col size="12" size-sm="6" size-lg="4" size-xl="4" *ngFor="let s of skeletonSettings.numberOfSkeltons">
            <ion-card class="ion-no-margin">
              <ion-card-header class="ion-no-padding">
                <ion-skeleton-text class="ion-no-margin" animated style="height: 120px; width: 100%;">
                </ion-skeleton-text>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ng-template>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>