.survey-question {
  border-bottom: 1px solid var(--ion-border-color);

  .questionTitle {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 16px 0px 16px;
  }

  ion-list {
    font-size: 15px;

    ion-radio-group {
      display: block;

      ion-radio {
        margin-left: 0% !important;
        margin-right: 5px;
        width: 13px;
        height: 13px;
      }

      ion-label {
        font-size: 14px;
      }
    }
  }

  ion-textarea.with-padding {
    padding: 3px 10px !important;
  }

  &.border-success {
    border-left: 5px solid var(--ion-color-success);
  }

  &.border-danger {
    border-left: 5px solid var(--ion-color-danger);
  }

  &:nth-child(odd) {
    background: var(--ion-color-step-100);

    ion-list,
    ion-item {
      --background: var(--ion-color-step-100);
    }

    ion-radio-group {
      background: var(--ion-color-step-100);
    }
  }
}

@media only screen and (min-width: 1px) {
  .d-block {
    display: block;
    width: 100%;
  }

  .rdBtn {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .d-lg-inline {
    display: inline-block !important;
    width: 100%;
  }

  .rdBtn {
    width: 20%;
  }

  .rdBtn-with-na:nth-of-type(1) {
    //dis
    width: 21% !important;
  }

  .rdBtn-with-na:nth-child(2) {
    //dis
    width: 17% !important;
  }

  .rdBtn-with-na:nth-child(3) {
    // neiu
    width: 15% !important;
  }

  .rdBtn-with-na:nth-child(4) {
    // agre
    width: 14% !important;
  }

  .rdBtn-with-na:nth-of-type(5) {
    width: 21% !important;
  }

  .na {
    width: 12% !important;
  }
}
