<ion-header [hidden]='comingFromTabs'>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Lecturer Timetable</ion-title>
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event.target)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>

  <div class="glob-container">
    <ion-grid>
      <ion-row class="ion-justify-content-end">
        <ion-col size="auto">
          <ion-button fill="outline" (click)="chooseWeek()" [disabled]="availableWeek!.length === 0" color="primary">
            {{selectedWeek | dateWithTimezone : 'dd MMM yyy'}}
            <ion-icon name="chevron-down-outline" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="outline" (click)="rotateView()" [color]="viewWeek ? 'primary' : 'medium'">
            <ion-label>Weekly</ion-label>
            <ion-toggle [checked]="viewWeek"></ion-toggle>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="primary" fill="outline" (click)="sendToPrint()">
            <ion-icon slot="icon-only" name="print"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button color="tertiary" [routerLink]="['/attendix/classes']">
            Mark Attendance
            <ion-icon name="checkmark-done" slot="end"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>



    <!-- do not add filter pipe here as it affects loading -->
    <ng-template let-timetables [ngIf]="timetable$ | async" [ngIfElse]="loading">
      <ng-template let-timetables
        [ngIf]="!viewWeek ? (timetables | theday:selectedDate) : (timetables | theweek:selectedWeek)"
        [ngIfElse]="loading">
        <ng-template [ngIf]="timetables!.length" [ngIfElse]="empty">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card class="ion-no-margin">
                  <ng-template [ngIf]="!viewWeek && availableWeek!.length > 0">
                    <ion-segment class="week-segment" [ngModel]="selectedDate | dateWithTimezone:'E' | uppercase"
                      (ngModelChange)="selectedDate = availableDate[availableDays.indexOf($event)]" scrollable>
                      <ion-segment-button *ngFor="let day of availableDays" [value]="day">
                        {{ day }}
                      </ion-segment-button>
                    </ion-segment>
                  </ng-template>
                  <ion-card-content class="ion-no-padding padding-bottom">
                    <ng-container *ngFor="let timetable of timetables; let i=index; trackBy: trackByIndex">
                      <ng-container *ngIf="viewWeek;">
                        <!-- Either first index or (other index where date is not equal to the date in the previous index) -->
                        <ion-item-divider
                          *ngIf="i===0 || (i !== 0 && (timetable.time.split('T')[0] !== timetables[i-1].time.split('T')[0]))"
                          lines="none" color="secondary">
                          <ion-label class="glob-text-bold">
                            {{ timetable.time | dateWithTimezone: "EEE, d MMM" }}
                          </ion-label>
                        </ion-item-divider>
                      </ng-container>

                      <ng-container *ngIf="timetable | endtime as endTime">
                        <ion-item class="table-item" lines="full">
                          <ion-avatar slot="end">
                            <ion-button color="tertiary" expand="full" shape="round"
                              [disabled]="(timetable.time | dateWithTimezone : 'yyyy-MM-dd HH:mm') > (today | dateWithTimezone : 'yyyy-MM-dd HH:mm')"
                              (click)="quickAttendnace(timetable.module, timetable.time, timetable.intakes.toString(), timetable.time, endTime)">
                              <ion-icon name="checkmark-done" slot="icon-only"></ion-icon>
                            </ion-button>
                          </ion-avatar>
                          <ion-label class="glob-white-space-normal">
                            <ion-grid class="ion-no-padding">
                              <ion-row class="ion-no-padding">
                                <ion-col size="12" class="small-margin-bottom">
                                  <ion-text color="primary">
                                    <h2 class="glob-text-bold">
                                      {{ timetable.time | timeParser: timeFormatChangeFlag: true }} -
                                      {{ timetable | endtime | timeParser: timeFormatChangeFlag: true }}
                                    </h2>
                                  </ion-text>
                                </ion-col>
                              </ion-row>
                              <ion-row class="ion-no-padding">
                                <ion-col size-xs="12" size-sm="6" class="small-margin-bottom">
                                  <ion-text color="secondary">
                                    <h2>
                                      <ion-icon name="library-outline" class="glob-text-bold"></ion-icon>
                                      {{ timetable.module }}
                                    </h2>
                                  </ion-text>
                                </ion-col>
                                <ion-col size-xs="12" size-sm="6" class="small-margin-bottom">
                                  <ion-text>
                                    <h2>
                                      <ion-icon class="glob-text-bold" name="location-outline"></ion-icon>
                                      {{ timetable.room }} | {{ timetable.location }}
                                    </h2>
                                  </ion-text>
                                </ion-col>
                              </ion-row>
                              <ion-row class="ion-no-padding">
                                <ion-col size="12">
                                  <ion-text>
                                    <p>
                                      <ion-text class="glob-text-bold">
                                        ({{timetable.intakes.length}})
                                        {{timetable.intakes.length > 1 ? 'Intakes: ' : 'Intake: '}}
                                      </ion-text>
                                      <ng-container *ngFor="let intake of timetable.intakes; last as last">
                                        <a [routerLink]="['/student-timetable', intake]">{{ intake }}</a>
                                        <ng-container *ngIf="!last">, </ng-container>
                                      </ng-container>
                                    </p>
                                  </ion-text>
                                </ion-col>
                              </ion-row>
                            </ion-grid>
                          </ion-label>

                        </ion-item>
                      </ng-container>
                    </ng-container>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template>
      </ng-template>
      <ng-template #empty>
        <ion-card>
          <ng-template [ngIf]="!viewWeek && availableWeek!.length > 0">
            <ion-segment class="week-segment" [ngModel]="selectedDate | date:'E' | uppercase"
              (ngModelChange)="selectedDate = availableDate[availableDays.indexOf($event)]" scrollable>
              <ion-segment-button *ngFor="let day of availableDays" [value]="day">
                {{ day }}
              </ion-segment-button>
            </ion-segment>
          </ng-template>
          <ion-card-content>
            <ng-container *ngIf="viewWeek">
              <app-message-with-svg imageUrl="assets/img/empty.svg"
                messageTitle="Opps! It looks like there is no classes assigned to you on the week that starts on {{selectedWeek | dateWithTimezone:'EEEE, dd MM yyy'}}"
                messageContent="If you think that there is something wrong, you can try this:" wrapperSize="6"
                wrapperMarginTop="30px" wrapperOffset="3" [advancedMode]="true">
                <div class="flex-container">
                  <ul class="list-txt-color">
                    <li>Make sure you have selected the right date</li>
                    <li>Try to refresh the page</li>
                  </ul>
                  <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and
                    report
                    the issue to us.</p>
                </div>
              </app-message-with-svg>
            </ng-container>
            <ng-container *ngIf="!viewWeek">
              <app-message-with-svg imageUrl="assets/img/empty.svg"
                messageTitle="Opps! It looks like there is no classes assigned to you on the selected date ({{selectedDate | date:'E' | uppercase}})"
                messageContent="If you think that there is something wrong, you can try this:" wrapperSize="6"
                wrapperMarginTop="30px" wrapperOffset="3" [advancedMode]="true">
                <div class="flex-container">
                  <ul class="list-txt-color">
                    <li>Make sure you have selected the right date</li>
                    <li>Enable the weekly view and check if there are classes on other days</li>
                    <li>Try to refresh the page</li>
                  </ul>
                  <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and
                    report
                    the issue to us.</p>
                </div>
              </app-message-with-svg>
            </ng-container>
          </ion-card-content>
        </ion-card>
      </ng-template>
    </ng-template>

    <ng-template #loading>
      <ion-card class="ion-no-padding">
        <ion-card-content class="ion-no-padding">
          <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-no-padding">
        <ion-card-content class="ion-no-padding">
          <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-no-padding">
        <ion-card-content class="ion-no-padding">
          <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
      <ion-card class="ion-no-padding">
        <ion-card-content class="ion-no-padding">
          <ion-skeleton-text animated style="width: 100%; line-height: 100px"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </div>

</ion-content>