.glob-container {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 991px) {
  .glob-container {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    margin-left: 0px !important;
    width: 100% !important;
  }
}

@media screen and (min-width: 992px) {
  .glob-container {
    width: 970px;
  }
}

@media screen and (min-width: 1100px) {
  .glob-container {
    width: 100%;
  }
}
