@mixin light-theme {

  .md,
  .ios {
    --ion-background-color: #fafafa;
    --ion-background-color-rgb: 250, 250, 250;
    --ion-text-color: #454343;
    --ion-text-color-rgb: 69, 67, 67;
    --ion-toolbar-background: #e0e0e0;
    --ion-tab-bar-background: #e0e0e0;
    --ion-tab-bar-color: var(--ion-text-color);
    --ion-border-color: #cccccc;
    --ion-item-background: #f5f5f5;
    // TEMPORARY SOLUTION FOR MORE PAGE CUSTOM CARD
    --ion-more-page-light-color: #e9ecee;
    --ion-more-page-card-color: #e9ecee;
    --ion-more-page-background-color: linear-gradient(to right, #148ad9, #3a99d9ee);
    
    --ion-staff-profile-card-color: #e9ecee;

    --ion-color-step-50: #f3f3f3;
    --ion-color-step-100: #e8e8e8;
    --ion-color-step-150: #dcdcdc;
    --ion-color-step-200: #d1d1d1;
    --ion-color-step-250: #c5c5c5;
    --ion-color-step-300: #b9b9b9;
    --ion-color-step-350: #aeaeae;
    --ion-color-step-400: #a2a2a2;
    --ion-color-step-450: #979797;
    --ion-color-step-500: #8b8b8b;
    --ion-color-step-550: #7f7f7f;
    --ion-color-step-600: #747474;
    --ion-color-step-650: #686868;
    --ion-color-step-700: #5d5d5d;
    --ion-color-step-750: #515151;
    --ion-color-step-800: #454545;
    --ion-color-step-850: #3a3a3a;
    --ion-color-step-900: #2e2e2e;
    --ion-color-step-950: #232323;

    /** danger **/
    --ion-color-danger: #dc3545;
    --ion-color-danger-rgb: 220, 53, 69;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c22f3d;
    --ion-color-danger-tint: #e04958;

    /** success **/
    --ion-color-success: #28a745;
    --ion-color-success-rgb: 40, 167, 69;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #23933d;
    --ion-color-success-tint: #3eb058;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** medium **/
    --ion-color-medium: #87888a;
    --ion-color-medium-rgb: 135, 136, 138;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #777879;
    --ion-color-medium-tint: #939496;

    /** light **/
    --ion-color-light: #e9ecee;
    --ion-color-light-rgb: 233, 236, 238;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #cdd0d1;
    --ion-color-light-tint: #ebeef0;

    /** dark **/
    --ion-color-dark: #2e2d2d;
    --ion-color-dark-rgb: 46, 45, 45;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #282828;
    --ion-color-dark-tint: #434242;
  }
}

@mixin dark-theme {

  .md,
  .ios {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #d9d9d9;
    --ion-text-color-rgb: 217, 217, 217;
    --ion-border-color: #2b2b2b;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    // TEMPORARY SOLUTION FOR MORE PAGE CUSTOM CARD
    --ion-more-page-light-color: #d9d9d9;
    --ion-more-page-card-color: #1f1f1f;
    --ion-more-page-background-color: linear-gradient(to right, #121212, #161717);

    --ion-staff-profile-card-color: #1f1f1f;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    /** danger **/
    --ion-color-danger: #dc3545;
    --ion-color-danger-rgb: 220, 53, 69;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c22f3d;
    --ion-color-danger-tint: #e04958;

    /** success **/
    --ion-color-success: #28a745;
    --ion-color-success-rgb: 40, 167, 69;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #23933d;
    --ion-color-success-tint: #3eb058;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** medium **/
    --ion-color-medium: #87888a;
    --ion-color-medium-rgb: 135, 136, 138;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #777879;
    --ion-color-medium-tint: #939496;

    /** light **/
    --ion-color-light: #2b2b2b;
    --ion-color-light-rgb: 43, 43, 43;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #262626;
    --ion-color-light-tint: #404040;

    /** dark **/
    --ion-color-dark: #595858;
    --ion-color-dark-rgb: 89, 88, 88;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #4e4d4d;
    --ion-color-dark-tint: #6a6969;
  }
}

@mixin pure-dark-theme {

  .md,
  .ios {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;

    --ion-text-color: #919191;
    --ion-text-color-rgb: 145, 145, 145;

    --ion-border-color: #121212;
    --ion-toolbar-background: #171717;
    --ion-tab-bar-background: #171717;
    --ion-item-background: #171717;

    // TEMPORARY SOLUTION FOR MORE PAGE CUSTOM CARD
    --ion-more-page-light-color: #919191;
    --ion-more-page-card-color: #171717;
    --ion-more-page-background-color: linear-gradient(to right, #000000, #141414);

    --ion-staff-profile-card-color: #171717;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-color-primary: #4596cc;
    --ion-color-primary-rgb: 69,150,204;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #3d84b4;
    --ion-color-primary-tint: #58a1d1;

    /** secondary **/
    --ion-color-secondary: #3d3d3d;
    --ion-color-secondary-rgb: 61,61,61;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #363636;
    --ion-color-secondary-tint: #505050;

    --ion-color-tertiary: #A4A2E6;
    --ion-color-tertiary-rgb: 164,162,230;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #908fca;
    --ion-color-tertiary-tint: #adabe9;

    /** danger **/
    --ion-color-danger: #dc3545;
    --ion-color-danger-rgb: 220, 53, 69;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #c22f3d;
    --ion-color-danger-tint: #e04958;

    /** success **/
    --ion-color-success: #28a745;
    --ion-color-success-rgb: 40, 167, 69;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #23933d;
    --ion-color-success-tint: #3eb058;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    /** medium **/
    --ion-color-medium: #87888a;
    --ion-color-medium-rgb: 135, 136, 138;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #777879;
    --ion-color-medium-tint: #939496;

    /** light **/
    --ion-color-light: #121212;
    --ion-color-light-rgb: 18, 18, 18;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #101010;
    --ion-color-light-tint: #2a2a2a;

    /** dark **/
    --ion-color-dark: #2e2d2d;
    --ion-color-dark-rgb: 46, 45, 45;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #282828;
    --ion-color-dark-tint: #434242;

  }
}

@mixin light-blue-color {
  /** primary **/
  --ion-color-primary: #1070a1;
  --ion-color-primary-rgb: 16, 112, 161;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0e638e;
  --ion-color-primary-tint: #287eaa;

  /** secondary **/
  --ion-color-secondary: #07567D;
  --ion-color-secondary-rgb: 7, 86, 125;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #064c6e;
  --ion-color-secondary-tint: #20678a;

  /** tertiary **/
  --ion-color-tertiary: #E50565;
  --ion-color-tertiary-rgb: 229, 5, 101;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #ca0459;
  --ion-color-tertiary-tint: #e81e74;

  // More page variables
  --ion-more-page-light-color: #e9ecee;
  --ion-more-page-card-color: #e9ecee;
  --ion-more-page-background-color: linear-gradient(to right, #148ad9, #3a99d9ee);
}

@mixin light-green-color {
  /** primary **/
  --ion-color-primary: #006466;
  --ion-color-primary-rgb: 0,100,102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00585a;
  --ion-color-primary-tint: #1a7475;

  /** secondary **/
  --ion-color-secondary: #007f5f;
  --ion-color-secondary-rgb: 0,127,95;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #007054;
  --ion-color-secondary-tint: #1a8c6f;

  /** tertiary **/
  --ion-color-tertiary: #212f45;
  --ion-color-tertiary-rgb: 33,47,69;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #1d293d;
  --ion-color-tertiary-tint: #374458;

  /** more page variables **/
  --ion-more-page-light-color: #e9ecee;
  --ion-more-page-card-color: #e9ecee;
  --ion-more-page-background-color: linear-gradient(to right, #006466, #007f5f);
}

@mixin light-pink-color {
  /** primary **/
  --ion-color-primary: #f08080;
  --ion-color-primary-rgb: 240,128,128;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #d37171;
  --ion-color-primary-tint: #f28d8d;

  /** secondary **/
  --ion-color-secondary: #f4978e;
  --ion-color-secondary-rgb: 244,151,142;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d7857d;
  --ion-color-secondary-tint: #f5a199;

  /** tertiary **/
  --ion-color-tertiary: #ef476f;
  --ion-color-tertiary-rgb: 239,71,111;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #d23e62;
  --ion-color-tertiary-tint: #f1597d;

  /** more page variables **/
  --ion-more-page-light-color: #e9ecee;
  --ion-more-page-card-color: #e9ecee;
  --ion-more-page-background-color: linear-gradient(to right, #f08080, #f4978e);
}

@mixin light-yellow-color {
  /** primary **/
  --ion-color-primary: #ff8800;
  --ion-color-primary-rgb: 255,136,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e07800;
  --ion-color-primary-tint: #ff941a;

  /** secondary **/
  --ion-color-secondary: #ffa200;
  --ion-color-secondary-rgb: 255,162,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e08f00;
  --ion-color-secondary-tint: #ffab1a;

  /** tertiary **/
  --ion-color-tertiary: #e85d04;
  --ion-color-tertiary-rgb: 232,93,4;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #cc5204;
  --ion-color-tertiary-tint: #ea6d1d;

  /** more page variables **/
  --ion-more-page-light-color: #e9ecee;
  --ion-more-page-card-color: #e9ecee;
  --ion-more-page-background-color: linear-gradient(to right, #ff8800, #ffa200);
}

@mixin light-red-color {
  /** primary **/
  --ion-color-primary: #bc3908;
  --ion-color-primary-rgb: 188,57,8;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #a53207;
  --ion-color-primary-tint: #c34d21;

  /** secondary **/
  --ion-color-secondary: #d00000;
  --ion-color-secondary-rgb: 208,0,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #b70000;
  --ion-color-secondary-tint: #d51a1a;

  /** tertiary **/
  --ion-color-tertiary: #b23a48;
  --ion-color-tertiary-rgb: 178,58,72;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #9d333f;
  --ion-color-tertiary-tint: #ba4e5a;

  /** more page variables **/
  --ion-more-page-light-color: #e9ecee;
  --ion-more-page-card-color: #e9ecee;
  --ion-more-page-background-color: linear-gradient(to right, #bc3908, #d00000);
}

@mixin dark-blue-color {
  /** primary **/
  --ion-color-primary: #3398da;
  --ion-color-primary-rgb: 51, 152, 218;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #2d86c0;
  --ion-color-primary-tint: #47a2de;

  /** secondary **/
  --ion-color-secondary: #2874a6;
  --ion-color-secondary-rgb: 40, 116, 166;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #236692;
  --ion-color-secondary-tint: #3e82af;

  /** tertiary **/
  --ion-color-tertiary: #E50565;
  --ion-color-tertiary-rgb: 229, 5, 101;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #ca0459;
  --ion-color-tertiary-tint: #e81e74;
}

@mixin dark-green-color {
  /** primary **/
  --ion-color-primary: #006466;
  --ion-color-primary-rgb: 0,100,102;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #00585a;
  --ion-color-primary-tint: #1a7475;

  /** secondary **/
  --ion-color-secondary: #007f5f;
  --ion-color-secondary-rgb: 0,127,95;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #007054;
  --ion-color-secondary-tint: #1a8c6f;

  /** tertiary **/
  --ion-color-tertiary: #212f45;
  --ion-color-tertiary-rgb: 33,47,69;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #1d293d;
  --ion-color-tertiary-tint: #374458;
}

@mixin dark-pink-color {
  /** primary **/
  --ion-color-primary: #f08080;
  --ion-color-primary-rgb: 240,128,128;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #d37171;
  --ion-color-primary-tint: #f28d8d;

  /** secondary **/
  --ion-color-secondary: #f4978e;
  --ion-color-secondary-rgb: 244,151,142;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #d7857d;
  --ion-color-secondary-tint: #f5a199;

  /** tertiary **/
  --ion-color-tertiary: #ef476f;
  --ion-color-tertiary-rgb: 239,71,111;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #d23e62;
  --ion-color-tertiary-tint: #f1597d;
}

@mixin dark-yellow-color {
  /** primary **/
  --ion-color-primary: #ff8800;
  --ion-color-primary-rgb: 255,136,0;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #e07800;
  --ion-color-primary-tint: #ff941a;

  /** secondary **/
  --ion-color-secondary: #ffa200;
  --ion-color-secondary-rgb: 255,162,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e08f00;
  --ion-color-secondary-tint: #ffab1a;

  /** tertiary **/
  --ion-color-tertiary: #e85d04;
  --ion-color-tertiary-rgb: 232,93,4;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #cc5204;
  --ion-color-tertiary-tint: #ea6d1d;
}

@mixin dark-red-color {
  /** primary **/
  --ion-color-primary: #bc3908;
  --ion-color-primary-rgb: 188,57,8;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #a53207;
  --ion-color-primary-tint: #c34d21;

  /** secondary **/
  --ion-color-secondary: #d00000;
  --ion-color-secondary-rgb: 208,0,0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #b70000;
  --ion-color-secondary-tint: #d51a1a;

  /** tertiary **/
  --ion-color-tertiary: #b23a48;
  --ion-color-tertiary-rgb: 178,58,72;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #9d333f;
  --ion-color-tertiary-tint: #ba4e5a;
}

// fallback if prefers-color-scheme is not recognized
:root {
  @include light-theme
}

// by media queries
@media (prefers-color-scheme: no-preferences),
(prefers-color-scheme: light) {
  :root {
    @include light-theme;

    .blue {
      @include light-blue-color;
    }

    .green {
      @include light-green-color;
    }

    .pink {
      @include light-pink-color;
    }

    .yellow {
      @include light-yellow-color;
    }

    .red {
      @include light-red-color;
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-theme;

    .blue {
      @include dark-blue-color;
    }

    .green {
      @include dark-green-color;
    }

    .pink {
      @include dark-pink-color;
    }

    .yellow {
      @include dark-yellow-color;
    }

    .red {
      @include dark-red-color;
    }
  }
}

// user specified
:root .light {
  @include light-theme;

  &.blue {
    @include light-blue-color;
  }

  &.green {
    @include light-green-color;
  }

  &.pink {
    @include light-pink-color;
  }

  &.yellow {
    @include dark-yellow-color;
  }

  .red {
    @include light-red-color;
  }
}

:root .dark {
  @include dark-theme;

  &.blue {
    @include dark-blue-color;
  }

  &.green {
    @include dark-green-color;
  }

  &.pink {
    @include dark-pink-color;
  }

  &.yellow {
    @include dark-yellow-color;
  }

  &.red {
    @include dark-red-color;
  }
}

:root .dark.pure {
  @include pure-dark-theme;
}
