ion-col {
  ion-badge {
    min-width: 24px;
    border-radius: 19px;
  }
  &.available {
    ion-badge {
      --background: var(--ion-color-success);
      --color: var(--ion-color-success);
    }
  }
  &.p-booked {
    ion-badge {
      --background: var(--ion-color-warning);
      --color: var(--ion-color-warning);
    }
  }
  &.booked {
    ion-badge {
      --background: var(--ion-color-danger);
      --color: var(--ion-color-danger);
    }
  }
}
