<ion-header>
  <ion-toolbar mode="md">
    <ion-title>Exam Schedule</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button fill="outline" (click)="presentIntakeSearch()">
        {{ intake || 'Intakes' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMax="400" pullMin="60" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
  </ion-refresher>
  <div class="glob-container">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="4" push-md="8">
          <ion-card color="danger">
            <ion-card-header>
              <ion-card-title class="glob-text-bold ion-text-center">
                IMPORTANT NOTICE
              </ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="ion-padding-bottom">
                All examinations (Resit & Final Examinations) will be replaced with alternative assessment methods-
                Assignments, take home exam, online exams & etc until further notice.</p>
              <p class="glob-text-bold">
                Kindly keep in contact with your module lecturers via Microsoft Teams /Moodle for details.
              </p>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title color="danger">Reminder</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p class="ion-padding-bottom">
                By using the exam schedule service in APSpace, you are agreeing to our exam guidelines and
                procedures.
                Please make sure to read them carefully.
              </p>
              <div class="ion-text-center">
                <ion-button color="danger" fill="outline" (click)="openGuidlines()">
                  Examination Guideline
                </ion-button>
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="8" pull-md="4">
          <ng-template [ngIf]="!showNoIntakeMessage" [ngIfElse]="noIntakeSelected">
            <ng-template let-exams [ngIf]="exam$ | async" [ngIfElse]="loadingExams">
              <ng-template [ngIf]="exams.length !== 0" [ngIfElse]="noExams">
                <ion-card>
                  <ion-card-header color="primary">
                    <ion-card-title>Exam Schedule for {{intake}}</ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="ion-no-padding">
                    <ng-container *ngFor="let exam of exams">

                      <ion-item lines="full" class="table-item">
                        <ion-label class="glob-white-space-normal">
                          <ion-grid class="ion-no-padding">
                            <ion-row class="ion-no-padding">
                              <ion-col size="12">
                                <ion-text color="primary">
                                  <h3 class="glob-text-bold">{{ exam.subjectDescription }} ({{exam.module}})</h3>
                                </ion-text>
                              </ion-col>
                              <ion-col size="12">
                                <ion-text color="tertiary">
                                  <h5 class="glob-text-bold">{{ exam.since | dateWithTimezone: 'EEEE, dd MMM y' }} @
                                    {{ exam.since | dateWithTimezone: 'time' }} -
                                    {{ exam.until | dateWithTimezone: 'time' }}</h5>
                                </ion-text>
                              </ion-col>
                            </ion-row>
                            <ion-row class="small-margin-top">
                              <ion-col size-xs="12" size-sm="6">
                                <ion-text>
                                  <h3 class="larger-text">
                                    <ion-icon class="glob-text-bold" color="primary" name="location-outline"></ion-icon>
                                    {{ exam.venue }}
                                  </h3>
                                </ion-text>

                              </ion-col>
                              <ion-col size-xs="12" size-sm="6" *ngIf="exam.assessmentType">
                                <ion-text>
                                  <h3 class="larger-text">
                                    <ion-icon class="glob-text-bold" color="primary" name="pricetag-outline"></ion-icon>
                                    {{ exam.assessmentType }}
                                  </h3>
                                </ion-text>
                              </ion-col>

                              <ion-col size-xs="12" *ngIf="exam.docketsDue">
                                <h2>
                                  <span>Dockets Issuance (Week Of):</span>
                                  {{ exam.docketsDue | date: 'EEE, dd MMM y' }}
                                </h2>
                              </ion-col>
                              <ion-col size-xs="12" *ngIf="exam.appraisalsDue">
                                <p>
                                  <span class="glob-text-bold">Appraisals Due:</span>
                                  {{ exam.appraisalsDue | date: 'EEE, dd MMM y' }}
                                </p>
                              </ion-col>
                              <ion-col size-xs="12" *ngIf="exam.resultDate">
                                <p>
                                  <span class="glob-text-bold">Expected Result Release Date:</span>
                                  {{ exam.resultDate | date: 'EEE, dd MMM y' }}
                                </p>
                              </ion-col>

                            </ion-row>
                          </ion-grid>
                        </ion-label>
                      </ion-item>
                    </ng-container>
                  </ion-card-content>
                </ion-card>
              </ng-template>
              <!-- No exams for the selected intake -->
              <ng-template #noExams>
                <ion-card>
                  <ion-card-content>
                    <app-message-with-svg imageUrl="assets/img/empty.svg"
                      messageTitle="Opps! It looks like there is no exam schedule for the selected intake ({{intake}})."
                      messageContent="Perhaps you can try this:" wrapperSize="6" wrapperMarginTop="30px"
                      wrapperOffset="3" [advancedMode]="true">
                      <div class="flex-container">
                        <ul class="list-txt-color">
                          <li>Make sure you have selected the right intake.</li>
                          <li>Make sure your exam schedule has been published</li>
                          <li>Try to refresh the page</li>
                        </ul>
                        <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and
                          report
                          the issue to us.</p>
                      </div>
                    </app-message-with-svg>
                  </ion-card-content>
                </ion-card>
              </ng-template>
            </ng-template>
            <!-- Loading -->
            <ng-template #loadingExams>
              <ion-card>
                <ion-card-header color="primary">
                  <ion-card-title>Exam Schedule</ion-card-title>
                </ion-card-header>
                <ion-card-content class="ion-no-padding">
                  <ng-container *ngFor="let _ of skeletons">

                    <ion-item lines="full" class="table-item">
                      <ion-label class="glob-white-space-normal">
                        <ion-grid class="ion-no-padding">
                          <ion-row class="ion-no-padding">
                            <ion-col size="12">
                              <ion-text color="primary">
                                <h3 class="glob-text-bold">
                                  <ion-skeleton-text animated style="height: 30px; width: 80%;"></ion-skeleton-text>
                                </h3>
                              </ion-text>
                            </ion-col>
                            <ion-col size="12">
                              <ion-text color="tertiary">
                                <h5 class="glob-text-bold">
                                  <ion-skeleton-text animated style="height: 25px; width: 70%;"></ion-skeleton-text>
                                </h5>
                              </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row class="small-margin-top">
                            <ion-col size-xs="12" size-sm="6">
                              <ion-text>
                                <h3 class="larger-text">
                                  <ion-skeleton-text animated style="height: 20px; width: 80%;"></ion-skeleton-text>
                                </h3>
                              </ion-text>

                            </ion-col>
                            <ion-col size-xs="12" size-sm="6">
                              <ion-text>
                                <h3 class="larger-text">
                                  <ion-skeleton-text animated style="height: 20px; width: 70%;"></ion-skeleton-text>
                                </h3>
                              </ion-text>
                            </ion-col>

                            <ion-col size-xs="12">
                              <p>
                                <ion-skeleton-text animated style="height: 20px; width: 80%;"></ion-skeleton-text>
                              </p>
                            </ion-col>

                          </ion-row>
                        </ion-grid>
                      </ion-label>
                    </ion-item>
                  </ng-container>
                </ion-card-content>
              </ion-card>
            </ng-template>
          </ng-template>
          <!-- No intake selected -->
          <ng-template #noIntakeSelected>
            <ion-card>
              <ion-card-content>
                <app-message-with-svg imageUrl="assets/img/config.svg"
                  messageTitle="Opps! It looks like you have not selected any intake."
                  messageContent="Perhaps you can try this:" wrapperSize="6" wrapperMarginTop="30px" wrapperOffset="3"
                  [advancedMode]="true">

                  <div class="flex-container">
                    <ul class="list-txt-color">
                      <li>Make sure to select an intake using the button on the top right of the page</li>
                    </ul>

                    <p>Still having trouble? No worries! Just click <a [routerLink]="'/feedback'">here</a> and report
                      the issue to us.</p>
                  </div>
                </app-message-with-svg>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>