<ion-header>
  <ion-toolbar mode="md">
    <ion-title>
      Results
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="unauthorised; else allowAccess">
    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2">
          <h3 class="ion-text-center">
            <ion-text color="danger" class="glob-text-bold">
              You are unauthorised to access this page.
            </ion-text>
          </h3>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ng-container>
  <ng-template #allowAccess>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshing-spinner="dots" pullingIcon="refresh"></ion-refresher-content>
    </ion-refresher>
    <div class="glob-container">
      <!-- lecturers -->
      <ng-template [ngIf]="staffRole" [ngIfElse]="studentRole">
        <ion-grid>
          <ion-row>
            <ion-col size-xs="12" size-md="4" push-md="8">
              <ion-card color="primary">
                <ion-card-header>
                  <ion-card-title>
                    Student Search
                  </ion-card-title>
                  <ion-card-subtitle>
                    <p class="ion-no-margin">Enter student ID/Name to check his results</p>
                  </ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-no-padding ion-padding-bottom">
                  <ion-searchbar (keyup.enter)="searchKeyword.length > 2 ? searchForStudents() : ''"
                    [(ngModel)]="searchKeyword"></ion-searchbar>
                  <div class="ion-text-center ion-padding-end ion-padding-start">
                    <ion-button color="light" fill="outline" [disabled]="searchKeyword.length < 2"
                      (click)="searchKeyword.length > 2 ? searchForStudents() : ''">
                      Search
                      <ion-icon name="search" slot="end"></ion-icon>
                    </ion-button>
                  </div>
                </ion-card-content>
              </ion-card>
              <ng-container *ngIf="studentSelected">
                <ion-card *ngIf="studentProfile$ | async as studentProfile; else loadingProfile">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="12" *ngIf="studentDetails$ | async as studentDetails; else loadingDetails">
                        <ion-avatar class="glob-margin-auto">
                          <img [src]="'data:image/jpg;base64,' +
                          studentDetails[0].base64_photo" alt="img" alt="">
                        </ion-avatar>
                      </ion-col>
                      <ng-template #loadingDetails>
                        <ion-avatar>
                          <ion-skeleton-text style="width: 100%; line-height: 100%;"></ion-skeleton-text>
                        </ion-avatar>
                      </ng-template>
                      <ion-col size="12" class="ion-text-center">
                        <ion-card-header class="ion-no-padding">
                          <ion-card-title color="primary" class="glob-text-bold">
                            {{studentProfile.NAME}}
                            <ion-badge color="danger" *ngIf="!studentProfile.BLOCK">
                              {{studentProfile.BLOCK ? '' : 'Blocked'}}
                            </ion-badge>
                          </ion-card-title>
                          <ion-card-subtitle color="tertiary">{{studentProfile.STUDENT_NUMBER}} |
                            {{studentProfile.INTAKE}}
                          </ion-card-subtitle>
                        </ion-card-header>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <ion-card-content class="ion-no-padding ion-padding-start ion-padding-end ion-padding-bottom">
                    <ion-grid class="ion-no-padding">
                      <ion-row>
                        <ion-col class="ion-no-padding ion-text-center" size="12">
                          <p>Program Leader</p>
                          <h4 class="glob-text-bold">{{studentProfile.PL_NAME || 'N/A'}}</h4>
                          <p>Mentor</p>
                          <h4 class="glob-text-bold">{{studentProfile.MENTOR_NAME || 'N/A'}}</h4>
                        </ion-col>
                      </ion-row>
                      <ion-row class="ion-margin-top">
                        <ion-col size="12" class="ion-text-center ion-no-padding">
                          <ng-container *ngIf="studentCourses$ | async as courses; else loadingCources">
                            <ion-button *ngFor="let course of courses" color="success"
                              [fill]="selectedIntake === course.INTAKE_CODE ? 'solid' : 'outline'"
                              (click)="getStudentResultsForStaff(studentProfile, course.INTAKE_CODE)">
                              {{course.INTAKE_CODE}}
                            </ion-button>
                          </ng-container>
                          <ng-template #loadingCources>
                            <ion-button *ngFor="let _ of skeletons">
                              <ion-skeleton-text animated style="width: 70px; height: 25px;"></ion-skeleton-text>
                            </ion-button>
                          </ng-template>
                        </ion-col>
                        <ion-col size="10" offset="1" *ngIf="studentSelected && intakeSelected">
                          <ion-button class="ion-margin-top" expand="block" color="primary"
                            (click)="generateInterimPDF()">
                            Interim Transcript
                            <ion-icon name="print" slot="end"></ion-icon>
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-card-content>
                </ion-card>
                <ng-template #loadingProfile>
                  <ion-card>
                    <ion-card-header>
                      <ion-card-title>
                        <ion-skeleton-text animated style="width: 60%; line-height: 20px;"></ion-skeleton-text>
                      </ion-card-title>
                      <ion-card-subtitle>
                        <ion-skeleton-text animated style="width: 30%; line-height: 17px;"></ion-skeleton-text>
                      </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="12" size-md="6">
                            <p>
                              <ion-skeleton-text animated style="width: 45%; line-height: 15px;"></ion-skeleton-text>
                            </p>
                            <p>
                              <ion-skeleton-text animated style="width: 60%; line-height: 15px;"></ion-skeleton-text>
                            </p>

                            <p>
                              <ion-skeleton-text animated style="width: 35%; line-height: 15px;"></ion-skeleton-text>
                            </p>
                            <p>
                              <ion-skeleton-text animated style="width: 70%; line-height: 15px;"></ion-skeleton-text>
                            </p>

                            <p>
                              <ion-skeleton-text animated style="width: 60%; line-height: 15px;"></ion-skeleton-text>
                            </p>
                            <p>
                              <ion-skeleton-text animated style="width: 50%; line-height: 15px;"></ion-skeleton-text>
                            </p>

                          </ion-col>
                          <ion-col size="12" size-md="6">
                            <p>
                              <ion-skeleton-text animated style="width: 45%; line-height: 15px;"></ion-skeleton-text>
                            </p>
                            <p>
                              <ion-skeleton-text animated style="width: 60%; line-height: 15px;"></ion-skeleton-text>
                            </p>

                            <p>
                              <ion-skeleton-text animated style="width: 35%; line-height: 15px;"></ion-skeleton-text>
                            </p>
                            <p>
                              <ion-skeleton-text animated style="width: 70%; line-height: 15px;"></ion-skeleton-text>
                            </p>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-card-content>
                  </ion-card>
                </ng-template>
              </ng-container>
            </ion-col>

            <ion-col size-xs="12" size-md="8" pull-md="4">
              <ng-container *ngIf="!showResults">
                <ion-card>
                  <ion-card-content>
                    <div>
                      <app-message-with-svg imageUrl="assets/img/search.svg" messageTitle="" wrapperSize="6"
                        wrapperMarginTop="10px" wrapperOffset="3">
                      </app-message-with-svg>
                    </div>
                    <div class="ion-margin-bottom ion-text-center">
                      <ion-text>
                        <h5>
                          Enter student ID/Name in the search box first to see his/her details
                        </h5>
                      </ion-text>
                    </div>
                  </ion-card-content>
                </ion-card>
              </ng-container>
              <ng-container *ngIf="showResults">
                <ng-container *ngIf="!studentSelected">
                  <ng-container *ngIf="studentsList$ | async as students; else loadingList">
                    <ng-container *ngIf="students.length > 0; else noResults">
                      <ion-card>
                        <ion-card-header color="success">
                          <ion-card-title>Search Result</ion-card-title>
                        </ion-card-header>
                        <ion-card-content class="ion-no-padding">
                          <ion-list class="ion-no-padding">
                            <ion-item *ngFor="let student of students" tappable="true" detail="true" lines="full"
                              (click)="getStudentData(student)">
                              <ion-label>
                                <h4 class="glob-text-bold">{{student.NAME}}</h4>
                                <p>{{student.STUDENT_NUMBER}}</p>
                              </ion-label>
                            </ion-item>
                          </ion-list>
                        </ion-card-content>
                      </ion-card>
                    </ng-container>
                    <ng-template #noResults>
                      <ion-card>
                        <ion-card-header color="danger">
                          <ion-card-title>
                            No Results for {{searchResults}}!
                          </ion-card-title>
                        </ion-card-header>
                        <ion-card-content>
                          <app-message-with-svg imageUrl='/assets/img/no-results.svg'
                            messageContent='We could not find any records that match the student you are trying to looking for'
                            wrapperMarginTop="20px" wrapperOffset="3" wrapperSize="6">
                          </app-message-with-svg>
                        </ion-card-content>
                      </ion-card>
                      <ion-text color="danger">
                      </ion-text>
                    </ng-template>
                  </ng-container>
                  <ng-template #loadingList>
                    <ion-item *ngFor="let _ of skeletons">
                      <ion-label>
                        <h4 class="text-bold">
                          <ion-skeleton-text animated style="line-height: 25px; width: 70%;"></ion-skeleton-text>
                        </h4>
                        <p>
                          <ion-skeleton-text animated style="line-height: 15px; width: 45%;"></ion-skeleton-text>
                        </p>
                      </ion-label>
                    </ion-item>
                  </ng-template>
                </ng-container>
                <ng-container *ngIf="studentSelected">
                  <ng-container *ngIf="intakeSelected">
                    <ng-container *ngIf="results$ | async as results; else loadingResults">
                      <ng-container *ngIf="results.length > 0; else noResultsYet">
                        <ng-container *ngFor="let semesterResult of results">
                          <ion-card>
                            <ion-card-header color="secondary">
                              <ion-card-title>Semester {{ semesterResult.semester }}</ion-card-title>
                              <ion-card-subtitle>
                                <ion-grid class="ion-no-padding ion-no-margin">
                                  <ion-row class="ion-no-padding ion-no-margin">
                                    <ion-col class="ion-no-padding ion-no-margin">
                                      <p class="ion-no-margin"><small class="ion-no-margin">Modules Passed:</small>
                                        {{ semesterResult.summary[0]?.TOTAL_MODULES_PASSED || 'N/A' }}</p>
                                    </ion-col>
                                    <ion-col class="ion-no-padding ion-no-margin">
                                      <p class="ion-no-margin"><small class="ion-no-margin">GPA:</small>
                                        {{ semesterResult.summary[0]?.GPA || 'N/A' }}</p>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                              </ion-card-subtitle>
                            </ion-card-header>
                            <ion-card-content class="ion-no-padding">
                              <ion-list class="ion-no-padding">
                                <ion-item lines="full" *ngFor="let result of semesterResult.value; trackBy: trackByFn"
                                  [color]="result.GRADE.toLowerCase() === 'Pending Survey'.toLowerCase() ? 'warning' : ''">
                                  <ion-label class="ion-no-margin glob-white-space-normal">
                                    <ion-grid>
                                      <ion-row>
                                        <ion-col size="12">
                                          <ion-text>
                                            <h3 class="glob-text-bold">
                                              <ion-text color="secondary">{{ result.MODULE_DESCRIPTION }}</ion-text>
                                            </h3>
                                          </ion-text>
                                        </ion-col>
                                      </ion-row>
                                      <ion-row>
                                        <ion-col size="6" size-md="6">
                                          <p>
                                            Result:
                                            <ion-text class="glob-text-bold"
                                              [color]="result.SUBJECT_PASS_FAIL === 'Pass' ? 'success' : result.SUBJECT_PASS_FAIL === 'Fail' ? 'danger' : ''">
                                              {{ result.GRADE || "N/A" }}
                                            </ion-text>
                                          </p>
                                        </ion-col>
                                        <ion-col size="6" size-md="6">
                                          <p>
                                            Grade:
                                            <ion-text class="glob-text-bold"
                                              [color]="result.SUBJECT_PASS_FAIL === 'Pass' ? 'success' : result.SUBJECT_PASS_FAIL === 'Fail' ? 'danger' : ''">
                                              {{ result.GRADE_POINT || "N/A" }}
                                            </ion-text>
                                          </p>
                                        </ion-col>
                                        <ion-col size="12">
                                          <p>
                                            <small>Internal Release Date:</small>
                                            <ion-text class="glob-text-bold">
                                              {{ result.INTERNAL_RESULT_RELEASE_DATE || 'N/A' }}
                                            </ion-text>
                                          </p>
                                        </ion-col>
                                        <ion-col size="12" *ngIf="result.RECOMMENDATION">
                                          <ion-text color="danger">
                                            <small class="glob-text-bold">Recommendations:
                                              {{ result.RECOMMENDATION }}</small>
                                          </ion-text>
                                        </ion-col>
                                      </ion-row>
                                    </ion-grid>
                                  </ion-label>
                                </ion-item>
                              </ion-list>
                            </ion-card-content>
                          </ion-card>
                        </ng-container>
                        <ng-container *ngTemplateOutlet="legends"></ng-container>
                      </ng-container>
                      <ng-template #noResultsYet>
                        <ng-container *ngTemplateOutlet="noResultsSection"></ng-container>
                      </ng-template>
                    </ng-container>
                    <ng-template #loadingResults>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="12">
                            <ion-skeleton-text animated style="width: 100%; line-height: 600px"></ion-skeleton-text>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ng-template>
                  </ng-container>
                </ng-container>
              </ng-container>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>

      <!-- students -->
      <ng-template #studentRole>
        <ng-template [ngIf]="block" [ngIfElse]="accountIsBlocked">
          <ion-grid *ngIf="course$ | async">
            <ion-row *ngIf="results$ | async as results; else loadingResults">
              <ion-col size-xs="12" size-md="4" push-md="8">
                <ion-card class="ion-no-margin ion-margin-top">
                  <ion-card-header class="ion-no-padding ion-padding-bottom">
                    <ion-item color="primary">
                      <ion-label position="floating">Intake</ion-label>
                      <ion-select [(ngModel)]="selectedIntake" (ngModelChange)="intakeChanged()" value="notifications"
                        interface="action-sheet">
                        <ion-select-option *ngFor="let intake of intakeLabels" [value]="intake">{{intake}}
                        </ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-card-header>
                  <ion-card-content class="ion-no-padding ion-padding-bottom">
                    <ng-container *ngIf="courseDetail$ | async as courseDetail; else loadingCourseDetail">
                      <ng-container *ngIf="courseDetail.length > 1; else noCourseDetail">
                        <h4 class="ion-no-margin glob-text-bold ion-padding-start ion-padding-end">
                          <ion-text color="primary">Results Summary Chart</ion-text>
                        </h4>
                        <div class="ion-text-center">
                          <chart class="ion-margin-top" *ngIf="data" [type]="type" [data]="data" [options]="options">
                          </chart>
                        </div>
                      </ng-container>
                      <ng-template #noCourseDetail>
                        <h4 class="ion-no-margin glob-text-bold ion-padding-start ion-padding-end">
                          <ion-text color="primary">Results Summary Chart</ion-text>
                        </h4>
                        <div class="ion-text-center">
                          <ion-text color="danger">
                            <p class="ion-padding">Course details is not available for the selected intake.</p>
                          </ion-text>
                        </div>
                      </ng-template>
                    </ng-container>
                    <ng-template #loadingCourseDetail>
                      <div class="ion-padding-start ion-padding-end ion-padding-bottom">
                        <ion-skeleton-text animated style="width: 58%; height: 30px"></ion-skeleton-text>
                        <ion-skeleton-text animated style="width: 100%; line-height: 140px"></ion-skeleton-text>
                      </div>
                    </ng-template>
                    <ion-buttons>
                      <ion-button class="ion-no-margin glob-margin-auto" size="small" color="primary" fill="outline"
                        [routerLink]="['/student-survey']">
                        Survey
                        <ion-icon name="newspaper" slot="end"></ion-icon>
                      </ion-button>
                      <ion-button class="ion-no-margin glob-margin-auto" size="small" color="danger" fill="outline"
                        (click)="generateInterimPDF()">
                        Interim Transcript
                        <ion-icon name="document" slot="end"></ion-icon>
                      </ion-button>
                    </ion-buttons>
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size-xs="12" size-md="8" pull-md="4">
                <ng-container *ngIf="results.length > 0; else noResultsYet">
                  <ng-container *ngFor="let semesterResult of results">
                    <ion-card>
                      <ion-card-header color="secondary">
                        <ion-card-title>Semester {{ semesterResult.semester }}</ion-card-title>
                        <ion-card-subtitle>
                          <ion-grid class="ion-no-padding ion-no-margin">
                            <ion-row class="ion-no-padding ion-no-margin">
                              <ion-col class="ion-no-padding ion-no-margin">
                                <p class="ion-no-margin"><small class="ion-no-margin">Modules Passed:</small>
                                  {{ semesterResult.summary[0]?.TOTAL_MODULES_PASSED || 'N/A' }}</p>
                              </ion-col>
                              <ion-col class="ion-no-padding ion-no-margin">
                                <p class="ion-no-margin"><small class="ion-no-margin">GPA:</small>
                                  {{ semesterResult.summary[0]?.GPA || 'N/A' }}</p>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content class="ion-no-padding">
                        <ion-list class="ion-no-padding">
                          <ion-item lines="full" *ngFor="let result of semesterResult.value; trackBy: trackByFn"
                            [color]="result.GRADE.toLowerCase() === 'Pending Survey'.toLowerCase() ? 'warning' : ''">
                            <ion-label class="ion-no-margin glob-white-space-normal">
                              <ion-grid>
                                <ion-row>
                                  <ion-col size="12">
                                    <ion-text color="secondary">
                                      <h3 class="glob-text-bold module">
                                        {{ result.MODULE_DESCRIPTION }}
                                      </h3>
                                    </ion-text>
                                  </ion-col>
                                </ion-row>
                                <ion-row
                                  *ngIf="result.GRADE.toLowerCase() !== 'Pending Survey'.toLowerCase(); else pendingSurvey">
                                  <ion-col size="6" size-md="6">
                                    <p>
                                      Result:
                                      <ion-text class="glob-text-bold"
                                        [color]="result.SUBJECT_PASS_FAIL === 'Pass' ? 'success' : result.SUBJECT_PASS_FAIL === 'Fail' ? 'danger' : ''">
                                        {{ result.GRADE || "N/A" }}
                                      </ion-text>
                                    </p>
                                  </ion-col>
                                  <ion-col size="6" size-md="6">
                                    <p>
                                      Grade:
                                      <ion-text class="glob-text-bold"
                                        [color]="result.SUBJECT_PASS_FAIL === 'Pass' ? 'success' : result.SUBJECT_PASS_FAIL === 'Fail' ? 'danger' : ''">
                                        {{ result.GRADE_POINT || "N/A" }}
                                      </ion-text>
                                    </p>
                                  </ion-col>
                                  <ion-col size="12">
                                    <p>
                                      <small>Internal Release Date:</small>
                                      <ion-text class="glob-text-bold">
                                        {{ result.INTERNAL_RESULT_RELEASE_DATE || 'N/A' }}
                                      </ion-text>
                                    </p>
                                  </ion-col>
                                  <ion-col size="12" *ngIf="result.RECOMMENDATION">
                                    <ion-text color="danger">
                                      <small class="glob-text-bold">Recommendations: {{ result.RECOMMENDATION }}</small>
                                    </ion-text>
                                  </ion-col>
                                </ion-row>
                                <ng-template #pendingSurvey>
                                  <ion-row>
                                    <ion-col size="6">
                                      <p>
                                        <small>Result & Grade: </small>
                                        <ion-text class="glob-text-bold">
                                          <a tappable (click)="openSurveyPage(result.MODULE_CODE)" color="primary"
                                            style="text-decoration: underline;">Pending Survey</a>
                                        </ion-text>
                                      </p>
                                    </ion-col>
                                    <ion-col size="6">
                                      <p>
                                        <small>Internal Release Date:</small>
                                        <ion-text class="glob-text-bold">
                                          {{ result.INTERNAL_RESULT_RELEASE_DATE || 'N/A' }}
                                        </ion-text>
                                      </p>
                                    </ion-col>
                                  </ion-row>
                                </ng-template>
                              </ion-grid>
                            </ion-label>
                          </ion-item>
                        </ion-list>
                      </ion-card-content>
                    </ion-card>
                  </ng-container>
                  <ng-container *ngTemplateOutlet="legends"></ng-container>
                </ng-container>
                <ng-template #noResultsYet>
                  <ng-container *ngTemplateOutlet="noResultsSection"></ng-container>
                </ng-template>
              </ion-col>
            </ion-row>
            <ng-template #loadingResults>
              <ion-grid>
                <ion-row>
                  <ion-col size-xs="12" size-md="4" push-md="8">
                    <ion-card class="ion-no-margin ion-margin-top">
                      <ion-card-header class="ion-no-padding ion-padding-bottom">
                        <ion-item color="primary">
                          <ion-label position="floating">Intake</ion-label>
                          <ion-select [(ngModel)]="selectedIntake" (ngModelChange)="intakeChanged()"
                            value="notifications" interface="action-sheet">
                            <ion-select-option *ngFor="let intake of intakeLabels" [value]="intake">{{intake}}
                            </ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-card-header>
                      <ion-card-content class="ion-no-padding ion-padding-bottom">
                        <div class="ion-padding-start ion-padding-end ion-padding-bottom">
                          <ion-skeleton-text animated style="width: 58%; height: 30px"></ion-skeleton-text>
                          <ion-skeleton-text animated style="width: 100%; line-height: 140px"></ion-skeleton-text>
                        </div>
                      </ion-card-content>
                    </ion-card>
                  </ion-col>
                  <ion-col size-xs="12" size-md="8" pull-md="4">
                    <ion-skeleton-text animated style="width: 100%; line-height: 600px"></ion-skeleton-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ng-template>
          </ion-grid>
        </ng-template>

        <ng-template #accountIsBlocked>
          <ion-grid>
            <ion-row>
              <ion-col size-xs="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
                <ion-button class="ion-margin-top ion-margin-bottom" color="success" expand="block" size="large"
                  [routerLink]="['/student-survey']">
                  Survey
                  <ion-icon slot="end" name="newspaper"></ion-icon>
                </ion-button>
                <ion-card class="account-disabled">
                  <ion-card-header>
                    <ion-card-title>
                      <h4>
                        <ion-text color="danger">
                          Your account has been disabled
                        </ion-text>
                      </h4>
                    </ion-card-title>
                  </ion-card-header>
                  <ion-card-content class="ion-padding">
                    <pre>{{ message }}</pre>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-template>
      </ng-template>
    </div>
  </ng-template>
</ion-content>

<ng-template #legends>
  <ng-container *ngIf="interimLegend$ | async as interimLegend; else loadingInterimLegend">
    <ion-card color="light">
      <ion-card-header color="medium">
        <ion-card-title>Marks and Grades</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <div *ngFor="let interim of interimLegend">
            <ion-row class="ion-no-padding" *ngIf="!interim.CLASSIFICATION; else suMaster">
              <ion-col>
                <div *ngIf="interim.MARK_FROM">
                  {{ interim.MARK_FROM + "-" + interim.MARK_TO || "" }}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{ interim.GRADE || "" }}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{ interim.GRADING_POINT || "" }}
                </div>
              </ion-col>
              <ion-col>
                <div>
                  {{ interim.GRADE_DESCRIPTION || "" }}
                </div>
              </ion-col>
            </ion-row>
            <ng-template #suMaster>
              <ion-row>
                <ion-col>{{ interim.CLASSIFICATION }}:</ion-col>
                <ion-col>{{ interim.GRADE }}</ion-col>
              </ion-row>
            </ng-template>
          </div>
        </ion-grid>
        <div style="padding: 5px !important">
          <p>
            <span class="glob-text-bold">R</span> = Awarding of module credit by passing module
            referral
            assessments.
          </p>
          <p>
            <span class="glob-text-bold">C</span> = Awarding of module credit through compensation
            at the
            discretion of the Examination Board, based on the student's
            overall academic performance. No referral assessment is requried
            for module.
          </p>
          <ng-container *ngIf="mpuLegend$ | async as mpu">
            <p *ngIf="mpu.length > 0">
              {{ mpu[0].MPU }}
            </p>
          </ng-container>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #loadingInterimLegend>
    <ion-skeleton-text animated style="width: 100%; line-height: 300px"></ion-skeleton-text>
  </ng-template>
  <ng-container *ngIf="(classificationLegend$ | async) as classificationLegend; else loadingClassificationLegend">
    <div *ngIf="classificationLegend.length > 0">
      <ion-card color="light">
        <ion-card-header color="medium">
          <ion-card-title>Degree Classification</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row *ngFor="let classification of classificationLegend">
            <ion-col>
              {{ classification.GRADE || "" }}
            </ion-col>
            <ion-col>
              {{ classification.CLASSIFICATION || "" }}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ng-container>
  <ng-template #loadingClassificationLegend>
    <ion-skeleton-text animated style="width: 100%; line-height: 300px"></ion-skeleton-text>
  </ng-template>
</ng-template>

<ng-template #noResultsSection>
  <ion-card class="ion-no-margin ion-margin-top ion-margin-bottom ion-no-padding">
    <ion-card-content>
      <app-message-with-svg imageUrl='/assets/img/no_data.svg' messageTitle='No Results Data for {{selectedIntake}}'
        messageContent='Either the intake just started or there are no results published yet' wrapperMarginTop="20px"
        wrapperOffset="3" wrapperSize="6">
      </app-message-with-svg>
    </ion-card-content>
  </ion-card>
</ng-template>