ion-card {
  pre {
    white-space: pre-wrap;
  }

  &.account-disabled {
    box-shadow: 0 3px 1px -2px var(--ion-color-danger), 0 2px 2px 0 var(--ion-color-danger), 0 1px 5px 0 var(--ion-color-danger);
  }
}

ion-avatar {
  --border-radius: 10px !important;
  width: 100px;
  height: 120px;
  padding: 1px;
  border: 2px solid var(--ion-color-medium);
  margin-left: 16px;
}

.module {
  font-size: 16px;
}
