ion-card-content.card-content-md {
  padding-left: 16px;
}
.card-header-title {
  font-size: 1.2rem;
}

.margin-auto{
  margin: auto;
}

ion-label {
  white-space: normal !important;
}
ion-card.booked {
  .card-header-title {
    color: var(--ion-color-danger) !important;
  }
  box-shadow: 0 3px 1px -2px var(--ion-color-danger), 0 2px 2px 0 var(--ion-color-danger), 0 1px 5px 0 var(--ion-color-danger);
  ion-badge {
    background: var(--ion-color-danger);
  }
}

ion-card.passed {
  .card-header-title {
    color: var(--ion-color-primary) !important;
  }
  box-shadow: 0 3px 1px -2px var(--ion-color-primary), 0 2px 2px 0 var(--ion-color-primary), 0 1px 5px 0 var(--ion-color-primary);
  ion-badge {
    background: var(--ion-color-primary);
    color: var(--ion-background-color);
  }
}

ion-card.unavailable {
  .card-header-title {
    color: var(--ion-color-medium) !important;
  }
  box-shadow: 0 3px 1px -2px var(--ion-color-medium), 0 2px 2px 0 var(--ion-color-medium),
    0 1px 5px 0 var(--ion-color-medium);
  ion-badge {
    background: var(--ion-color-medium);
  }
}

ion-button.danger-background {
  --background: var(--ion-color-danger) !important;
  --background-hover: var(--ion-color-danger-shade);
}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  cursor: pointer;
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 47px;
  bottom: 6px;
  background-color: var(--secondary-bg-color);
  padding: 3px 8px 5px 8px;
  border-radius: 19px;
  color: var(--secondary-txt-color);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

ion-col {
  ion-badge {
    min-width: 24px;
    border-radius: 19px;
  }
  &.available {
    ion-badge {
      --background: var(--ion-color-success);
      --color: var(--ion-color-success);
    }
  }
  &.p-booked {
    ion-badge {
      --background: #dfa847;
      --color: #dfa847;
    }
  }
  &.booked {
    ion-badge {
      --background: var(--ion-color-danger);
      --color: var(--ion-color-danger);
    }
  }
  &.unavailable {
    ion-badge {
      --background: var(--ion-text-color);
      --color: var(--ion-text-color);
    }
  }
}

// To modify and clean
.event-calendar {
  font-size: 14px;
  overflow: hidden;
}

.event {
  text-decoration: none;
}

.day {
  padding: 15px;
  font-weight: bold;
  color: var(--ion-text-color);
  background-color: var(--tertiary-bg-color);
}

.event-container {
  transition: all 0.2s ease;
  border-left: 3px solid;
  background: var(--secondary-bg-color);
  color: var(--ion-text-color);

  &.available {
    border-color: var(--ion-color-success);
    ion-button {
      --background: var(--ion-color-success);
      --background-hover: var(--ion-color-success-shade);
    }
  }

  // &:not(.no-hover):hover {
  //   background: var(--ion-background-color);
  // }

  &.booked {
    border-color: var(--ion-color-danger);
    ion-button {
      --background: var(--ion-color-danger);
      --background-hover: var(--ion-color-danger-shade);
    }
  }

  &.unavailable {
    border-color: var(--ion-text-color);
    ion-button {
      --background: var(--ion-text-color);
      --background-hover: var(--secondary-txt-color);
      --color: var(--ion-background-color);
    }
  }
}

// .event-container:not(.no-hover):hover {
//   border-left-width: 10px;
// }

.grid-padding {
  padding-top: 3px;
  padding-left: 7px;
}

.title {
  font-weight: 600;
  font-size: 1.2em;
  width: 100%;
}

.description {
  font-size: 0.9em;
  display: block;
}

::ng-deep .dark-theme ion-checkbox, .dark-theme.pure ion-checkbox {
  --border-color: var(--ion-color-medium);
}

.skeleton-content-center {
  display: flex;
  flex-direction: auto;
  justify-content: center;
  align-items: flex-end;
}

ion-buttons.close-button-align {
  display: inline-block;

  ion-button {
    --background: transparent !important;
    --background-hover: transparent !important;
    --background-clicked: transparent !important;
  }
}